* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    background-color: #F68E5F;
    color: #25291C;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -1px;
}

.body,
.list {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    color: #A72608;
    font-weight: bold;
}

.link {
    font-size: 16px;
    color: #1C0221;
}

.recipe-menu {
    background-color: #f68f5fc3;
    list-style-type: none;
    overflow: hidden;
}

.navigation-menu li {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.navigation-menu li a {
    display: inline-block;
    text-align: center;
    margin-top: 1px;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-menu li a:hover{
    background-color: #A72608;
}
