body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #FFD29D;
    width: 960px;
}

.title {
    text-align: center;
    background-color: #A41623;
    color: #FFD29D;
    font-family: 'Courier New', Courier, monospace;
}

body,
.list {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 16px;
    color: #A41623;
    font-weight: bold;
}

.link {
    font-size: 16px;
    color: #1C0221;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
     
    margin: 0;
    padding: 0;
    list-style: none;

    background-color: #FFB563;
}

.nav-menu li a {
    color: #A41623;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: #A41623;
    color: #FFD29D;
}

.recipe-image {
    margin: 0 auto;
    border: 2px solid #A41623;
}